.query-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-color: #3a3a3a;
    border-style: solid;
    border-width: thin;
}
.query-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.query-table th,
.query-table td {
    padding: 12px 15px;
}
.query-table tbody tr {
    border-bottom: 1px solid #9f9e9e;
}

.query-table tbody tr:nth-of-type(even) {
    background-color: #e3e0e0;
}

.query-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.query-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.query-table tbody tr.removed-row {
    font-weight: bold;
    color: #d51b1b;
    text-decoration: line-through;
}